USE [master]
GO
/****** Object:  Database [BellaVistaDB]    Script Date: 17/02/2026 23:18:26 ******/
CREATE DATABASE [BellaVistaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BellaVistaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\BellaVistaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BellaVistaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\BellaVistaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BellaVistaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BellaVistaDB]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 17/02/2026 23:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[CategoriaID] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 17/02/2026 23:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ClienteID] [int] NOT NULL,
	[NombreCliente] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ordenes]    Script Date: 17/02/2026 23:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ordenes](
	[OrdenID] [int] IDENTITY(1,1) NOT NULL,
	[ClienteID] [int] NOT NULL,
	[FechaOrden] [datetime] NULL,
	[EsActiva] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrdenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 17/02/2026 23:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[ProductoID] [int] IDENTITY(1,1) NOT NULL,
	[NombreProducto] [varchar](150) NOT NULL,
	[CategoriaID] [int] NOT NULL,
	[Presentacion] [varchar](100) NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [UIX_OrdenActivaPorCliente]    Script Date: 17/02/2026 23:18:26 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UIX_OrdenActivaPorCliente] ON [dbo].[Ordenes]
(
	[ClienteID] ASC
)
WHERE ([EsActiva]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ordenes] ADD  DEFAULT (getdate()) FOR [FechaOrden]
GO
ALTER TABLE [dbo].[Ordenes] ADD  DEFAULT ((1)) FOR [EsActiva]
GO
ALTER TABLE [dbo].[Productos] ADD  CONSTRAINT [DF_Productos_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Ordenes]  WITH CHECK ADD  CONSTRAINT [FK_Ordenes_Clientes] FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Clientes] ([ClienteID])
GO
ALTER TABLE [dbo].[Ordenes] CHECK CONSTRAINT [FK_Ordenes_Clientes]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categorias] FOREIGN KEY([CategoriaID])
REFERENCES [dbo].[Categorias] ([CategoriaID])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categorias]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarProducto]    Script Date: 17/02/2026 23:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ACTUALIZAR PRODUCTO
CREATE   PROCEDURE [dbo].[sp_ActualizarProducto]
    @ProductoID INT,
    @NombreProducto NVARCHAR(200),
    @CategoriaID INT,
    @Presentacion NVARCHAR(100),
    @PrecioUnitario DECIMAL(10,2)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Productos
    SET 
        NombreProducto = @NombreProducto,
        CategoriaID = @CategoriaID,
        Presentacion = @Presentacion,
        PrecioUnitario = @PrecioUnitario
    WHERE ProductoID = @ProductoID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarProducto]    Script Date: 17/02/2026 23:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ELIMINAR PRODUCTO (SOFT DELETE)
CREATE   PROCEDURE [dbo].[sp_EliminarProducto]
    @ProductoID INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Productos
    SET Activo = 0
    WHERE ProductoID = @ProductoID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarProducto]    Script Date: 17/02/2026 23:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- INSERTAR PRODUCTO
CREATE   PROCEDURE [dbo].[sp_InsertarProducto]
    @NombreProducto NVARCHAR(200),
    @CategoriaID INT,
    @Presentacion NVARCHAR(100),
    @PrecioUnitario DECIMAL(10,2)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Productos (NombreProducto, CategoriaID, Presentacion, PrecioUnitario, Activo)
    VALUES (@NombreProducto, @CategoriaID, @Presentacion, @PrecioUnitario, 1);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarProductos]    Script Date: 17/02/2026 23:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarProductos]
AS
BEGIN
    SELECT 
        p.ProductoID,
        p.NombreProducto,
        p.Presentacion,
        p.PrecioUnitario,
        c.NombreCategoria AS Categoria
    FROM Productos p
    INNER JOIN Categorias c ON p.CategoriaID = c.CategoriaID;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ListarProductosActivos]    Script Date: 17/02/2026 23:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- LISTAR PRODUCTOS ACTIVOS
CREATE   PROCEDURE [dbo].[sp_ListarProductosActivos]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ProductoID,
        NombreProducto,
        Presentacion,
        PrecioUnitario,
        CategoriaID
    FROM dbo.Productos
    WHERE Activo = 1
    ORDER BY ProductoID DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerProducto]    Script Date: 17/02/2026 23:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerProducto]
    @ProductoID INT
AS
BEGIN
    SELECT 
        p.ProductoID,
        p.NombreProducto,
        p.Presentacion,
        p.PrecioUnitario,
        c.NombreCategoria AS Categoria
    FROM Productos p
    INNER JOIN Categorias c ON p.CategoriaID = c.CategoriaID
    WHERE p.ProductoID = @ProductoID;
END;

GO
USE [master]
GO
